In [1]:
import requests
import pandas as pd

In [2]:
dataset_id = "d_e3598914c86699a9a36e68190f78c59a"
url = "https://data.gov.sg/api/action/datastore_search?resource_id="  + dataset_id 
        
response = requests.get(url)
print(response.json())

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search', 'success': True, 'result': {'resource_id': 'd_e3598914c86699a9a36e68190f78c59a', 'fields': [{'type': 'numeric', 'id': 'year'}, {'type': 'text', 'id': 'residential_status'}, {'type': 'numeric', 'id': 'unemployment_rate'}, {'type': 'int4', 'id': '_id'}], 'records': [{'_id': 1, 'year': '1992', 'residential_status': 'overall', 'unemployment_rate': '1.8'}, {'_id': 2, 'year': '1993', 'residential_status': 'overall', 'unemployment_rate': '1.7'}, {'_id': 3, 'year': '1994', 'residential_status': 'overall', 'unemployment_rate': '1.7'}, {'_id': 4, 'year': '1995', 'residential_status': 'overall', 'unemployment_rate': '1.8'}, {'_id': 5, 'year': '1996', 'residential_status': 'overall', 'unemployment_rate': '1.7'}, {'_id': 6, 'year': '1997', 'residential_status': 'overall', 'unemployment_rate': '1.4'}, {'_id': 7, 'year': '1998', 'residential_status': 'overall', 'unemployment_rate': '2.5'}, {'_id': 8, 'year': '1999', 'residential_status': 'overall', 'unemployment_rate': '2.8'}, {'_id': 9, 'year': '2000', 'residential_status': 'overall', 'unemployment_rate': '2.7'}, {'_id': 10, 'year': '2001', 'residential_status': 'overall', 'unemployment_rate': '2.7'}, {'_id': 11, 'year': '2002', 'residential_status': 'overall', 'unemployment_rate': '3.6'}, {'_id': 12, 'year': '2003', 'residential_status': 'overall', 'unemployment_rate': '4'}, {'_id': 13, 'year': '2004', 'residential_status': 'overall', 'unemployment_rate': '3.4'}, {'_id': 14, 'year': '2005', 'residential_status': 'overall', 'unemployment_rate': '3.1'}, {'_id': 15, 'year': '2006', 'residential_status': 'overall', 'unemployment_rate': '2.7'}, {'_id': 16, 'year': '2007', 'residential_status': 'overall', 'unemployment_rate': '2.1'}, {'_id': 17, 'year': '2008', 'residential_status': 'overall', 'unemployment_rate': '2.2'}, {'_id': 18, 'year': '2009', 'residential_status': 'overall', 'unemployment_rate': '3'}, {'_id': 19, 'year': '2010', 'residential_status': 'overall', 'unemployment_rate': '2.2'}, {'_id': 20, 'year': '2011', 'residential_status': 'overall', 'unemployment_rate': '2'}, {'_id': 21, 'year': '2012', 'residential_status': 'overall', 'unemployment_rate': '2'}, {'_id': 22, 'year': '2013', 'residential_status': 'overall', 'unemployment_rate': '1.9'}, {'_id': 23, 'year': '2014', 'residential_status': 'overall', 'unemployment_rate': '2'}, {'_id': 24, 'year': '2015', 'residential_status': 'overall', 'unemployment_rate': '1.9'}, {'_id': 25, 'year': '2016', 'residential_status': 'overall', 'unemployment_rate': '2.1'}, {'_id': 26, 'year': '2017', 'residential_status': 'overall', 'unemployment_rate': '2.2'}, {'_id': 27, 'year': '2018', 'residential_status': 'overall', 'unemployment_rate': '2.1'}, {'_id': 28, 'year': '2019', 'residential_status': 'overall', 'unemployment_rate': '2.3'}, {'_id': 29, 'year': '2020', 'residential_status': 'overall', 'unemployment_rate': '3'}, {'_id': 30, 'year': '2021', 'residential_status': 'overall', 'unemployment_rate': '2.7'}, {'_id': 31, 'year': '2022', 'residential_status': 'overall', 'unemployment_rate': '2.1'}, {'_id': 32, 'year': '2023', 'residential_status': 'overall', 'unemployment_rate': '1.9'}], '_links': {'start': '/api/action/datastore_search?resource_id=d_e3598914c86699a9a36e68190f78c59a', 'next': '/api/action/datastore_search?resource_id=d_e3598914c86699a9a36e68190f78c59a&offset=100'}, 'total': 32}}

In [3]:
df = pd.DataFrame(response.json()['result']['records'])
print(df.shape)
display(df.head())

(32, 4)

   _id  year residential_status unemployment_rate
0    1  1992            overall               1.8
1    2  1993            overall               1.7
2    3  1994            overall               1.7
3    4  1995            overall               1.8
4    5  1996            overall               1.7

In [4]:
df.to_csv('Data/annual_unemployment.csv', index=False)