### Importing Required Libraries

In [1]:
import requests
import pandas as pd

### Retrieving Data

In [2]:
dataset_id = "d_7b5fd60b047a80da91d2adb86cf47628"
url = "https://data.gov.sg/api/action/datastore_search?resource_id="  + dataset_id 
        
response = requests.get(url)
print(response.json())

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search', 'success': True, 'result': {'resource_id': 'd_7b5fd60b047a80da91d2adb86cf47628', 'fields': [{'type': 'numeric', 'id': 'year'}, {'type': 'numeric', 'id': 'med_income_incl_empcpf'}, {'type': 'numeric', 'id': 'med_income_excl_empcpf'}, {'type': 'int4', 'id': '_id'}], 'records': [{'_id': 1, 'year': '2001', 'med_income_incl_empcpf': '2387', 'med_income_excl_empcpf': '2100'}, {'_id': 2, 'year': '2002', 'med_income_incl_empcpf': '2380', 'med_income_excl_empcpf': '2083'}, {'_id': 3, 'year': '2003', 'med_income_incl_empcpf': '2410', 'med_income_excl_empcpf': '2100'}, {'_id': 4, 'year': '2004', 'med_income_incl_empcpf': '2326', 'med_income_excl_empcpf': '2100'}, {'_id': 5, 'year': '2006', 'med_income_incl_empcpf': '2449', 'med_income_excl_empcpf': '2167'}, {'_id': 6, 'year': '2007', 'med_income_incl_empcpf': '2543', 'med_income_excl_empcpf': '2333'}, {'_id': 7, 'year': '2008', 'med_income_incl_empcpf': '2897', 'med_income_excl_empcpf': '2588'}, {'_id': 8, 'year': '2009', 'med_income_incl_empcpf': '2927', 'med_income_excl_empcpf': '2600'}, {'_id': 9, 'year': '2010', 'med_income_incl_empcpf': '3000', 'med_income_excl_empcpf': '2708'}, {'_id': 10, 'year': '2011', 'med_income_incl_empcpf': '3249', 'med_income_excl_empcpf': '2925'}, {'_id': 11, 'year': '2012', 'med_income_incl_empcpf': '3480', 'med_income_excl_empcpf': '3000'}, {'_id': 12, 'year': '2013', 'med_income_incl_empcpf': '3705', 'med_income_excl_empcpf': '3250'}, {'_id': 13, 'year': '2014', 'med_income_incl_empcpf': '3770', 'med_income_excl_empcpf': '3276'}, {'_id': 14, 'year': '2015', 'med_income_incl_empcpf': '3949', 'med_income_excl_empcpf': '3467'}, {'_id': 15, 'year': '2016', 'med_income_incl_empcpf': '4056', 'med_income_excl_empcpf': '3500'}, {'_id': 16, 'year': '2017', 'med_income_incl_empcpf': '4232', 'med_income_excl_empcpf': '3749'}, {'_id': 17, 'year': '2018', 'med_income_incl_empcpf': '4437', 'med_income_excl_empcpf': '3800'}, {'_id': 18, 'year': '2019', 'med_income_incl_empcpf': '4563', 'med_income_excl_empcpf': '4000'}, {'_id': 19, 'year': '2020', 'med_income_incl_empcpf': '4534', 'med_income_excl_empcpf': '4000'}, {'_id': 20, 'year': '2021', 'med_income_incl_empcpf': '4680', 'med_income_excl_empcpf': '4000'}, {'_id': 21, 'year': '2022', 'med_income_incl_empcpf': '5070', 'med_income_excl_empcpf': '4500'}, {'_id': 22, 'year': '2023', 'med_income_incl_empcpf': '5197', 'med_income_excl_empcpf': '4550'}], '_links': {'start': '/api/action/datastore_search?resource_id=d_7b5fd60b047a80da91d2adb86cf47628', 'next': '/api/action/datastore_search?resource_id=d_7b5fd60b047a80da91d2adb86cf47628&offset=100'}, 'total': 22}}

### Converting Data from ```.json``` to Pandas Dataframe

In [3]:
df = pd.DataFrame(response.json()['result']['records'])
print(df.shape)
df.head()

(22, 4)

   _id  year med_income_incl_empcpf med_income_excl_empcpf
0    1  2001                   2387                   2100
1    2  2002                   2380                   2083
2    3  2003                   2410                   2100
3    4  2004                   2326                   2100
4    5  2006                   2449                   2167

### Converting to ```.csv``` file

In [4]:
df.to_csv('Data/median_income.csv', index=False)